<p>Si bien en algunas situaciones esta bien evitar el uso de bibliotecas externas durante el desarrollo de
  aplicaciones Angular, a veces, pueden ayudar a reducir significativamente el tiempo de desarrollo de la aplicación.
</p>

<p>
  No es una exigencia que debamos utilizar obligatoriamente la librería de Angular Material para la implementación de
  un proyecto, como veremos más adelante muchos desarrolladores optan por utilizar directamente el framework Bootstrap
  o una versión modificada de Bootstrap adaptada para angular NG Bootstrap.
</p>

<a href="https://material.angular.io/">https://material.angular.io/</a>
<br>
<a href="https://getbootstrap.com/">https://getbootstrap.com/</a>
<br>
<a href="https://ng-bootstrap.github.io/#/home">https://ng-bootstrap.github.io/#/home</a>
<p></p>

<p>También es importante hacer notar que las dos librerías nombradas (Angular Material y NG Bootstrap) no son las únicas
  librerías de componentes visuales disponibles, sino que hay decenas y muchas de ellas las podemos consultar desde el
  mismo sitio oficial de Angular en la sección de recursos de Angular.</p>

<a href="https://angular.io/resources?category=development">https://angular.io/resources?category=development</a>
<p>Hay que tener en cuenta también que algunas de estas librerías tienen un costo para su uso.</p>


<p>Los enlaces a las librerías más utilizadas de componentes visuales para Angular son:</p>

<p><a href="https://material.angular.io/">https://material.angular.io/</a></p>
<p><a href="https://ng-bootstrap.github.io/#/home">https://ng-bootstrap.github.io/#/home</a></p>
<p><a href=""></a></p>
<p><a href=""></a></p>


<p><a href="https://valor-software.com/ngx-bootstrap/#/">https://valor-software.com/ngx-bootstrap/#/</a></p>
<p><a href="https://www.primefaces.org/primeng/#/">https://www.primefaces.org/primeng/#/</a></p>
<p><a href="https://www.ag-grid.com/404/">https://www.ag-grid.com/404/</a></p>
<p><a href="https://www.sencha.com/">https://www.sencha.com/</a></p>
<p><a href="https://onsen.io/v2/guide/angular2/#angular-2">https://onsen.io/v2/guide/angular2/#angular-2</a></p>
<p><a href="https://clarity.design/">https://clarity.design/</a></p>


<p>Concepto: 56
  - Otras librerías de componentes visuales que compiten con Angular Material, pieza 43 works!</p>
