<div class="datos">
  <p><strong>Nombre del país:</strong>Brazil</p>
  <p>
    <img src="assets/imagenes/brazil.png">
  </p>
  <h3>Datos generales.</h3>
  <p>
    Brasil es un vasto país de Sudamérica que se extiende desde la Cuenca del Amazonas en el norte hasta los viñedos y
    las
    enormes cataratas del Iguazú en el sur. Río de Janeiro, simbolizado por su estatua de 38 m del Cristo Redentor sobre
    el
    cerro del Corcovado, es famoso por sus ajetreadas playas Copacabana e Ipanema, junto con su enorme y estridente
    festival
    del Carnaval, que cuenta con carros alegóricos, exuberantes disfraces y danza y música samba. ― Google

  </p>
  <p>
    Gobierno: Presidencialismo, República constitucional, República federal Tendencia
    Capital: Brasilia
    Presidente: Jair Bolsonaro
    Población: 214 millones (2021) Banco Mundial
    Idioma oficial: Portugués
  </p>
</div>
