<!-- <p>modulo1 works!</p> -->

<div>
  <router-outlet></router-outlet>
</div>


<div>
  <a routerLink="app-pieza23-barra-lateral"> Pieza 23, Concepto: Angular Material

  </a>

  <br>
  <a routerLink="app-pieza24-padre"> Pieza 24, Concepto: button Angular Material

  </a>

  <br>
  <a routerLink="app-pieza25-padre"> Pieza 25, Concepto: 38 - Angular Material: formularios (input)
  </a>

  <br>
  <a routerLink="app-pieza26-padre"> Pieza 26, Concepto: 39 - Angular Material: formularios - selectores
    mat-radio-button y mat-radio-group
  </a>


  <br>
  <a routerLink="app-pieza27-padre"> Pieza 27, Concepto: 40 - Angular Material: formularios - selectores mat-checkbox

  </a>

  <br>
  <a routerLink="app-pieza28-padre"> Pieza 28, Concepto: 41 - Angular Material: formularios - selector mat-select

  </a>

  <br>
  <a routerLink="app-pieza29-padre"> Pieza 29, Concepto: 42 - Angular Material: formularios - mat-slider
  </a>

  <br>
  <a routerLink="app-pieza30">Concepto: 43 - Angular Material: formularios - mat-slide-toggle, pieza 30
  </a>

  <br>
  <a routerLink="app-pieza31-p">Concepto: 44, - Angular Material: Layout - tabs, pieza 31
  </a>

  <br>
  <a routerLink="app-pieza32-p">Concepto: 45, - Angular Material: Tablas - mat-table, pieza 32
  </a>

  <br>
  <a routerLink="app-pieza33-p">Concepto: 46, inicial - Angular Material: Tablas - mat-table y mat-paginator, pieza 33
  </a>




















</div>
