<!-- <p>modulo1 works!</p> -->

<div>
  <router-outlet></router-outlet>
</div>


<div>
  <a routerLink="app-pieza23-barra-lateral"> Pieza 23, Concepto: Angular Material

  </a>

  <br>
  <a routerLink="app-pieza24-padre"> Pieza 24, Concepto: button Angular Material

  </a>

  <br>
  <a routerLink="app-pieza25-padre"> Pieza 25, Concepto: 38 - Angular Material: formularios (input)
  </a>

  <br>
  <a routerLink="app-pieza26-padre"> Pieza 26, Concepto: 39 - Angular Material: formularios - selectores
    mat-radio-button y mat-radio-group
  </a>


  <br>
  <a routerLink="app-pieza27-padre"> Pieza 27, Concepto: 40 - Angular Material: formularios - selectores mat-checkbox

  </a>








</div>
