<p>Concepto 55 - Angular Material: - otras componentes pieza42-p works!</p>



<p>
  Nos hemos estado concentrando en los últimos conceptos en las componentes que provee la librería Angular Material.
  El objetivo no ha sido enumerar y analizar cada una de ellas en profundidad sino presentarlas en general y continuar
  con la práctica en el desarrollo de aplicaciones Angular.
</p>

<p>
  Hemos dejado en el tintero muchas componentes y recursos que provee Angular Material:
</p>


<p><strong> mat-autocomplete: </strong> Es una componente de entrada de texto normal mejorada por un panel de opciones
  sugeridas.</p>

<p><strong>mat-datepicker: </strong> Es una componente que permite ingresar una fecha ingresando el texto o eligiendo
  una fecha de
  un
  calendario.</p>
<p><strong>mat-drawer: </strong>
  Es una componente que permite agregar contenido en un lateral el cual puede estar abierto o cerrado (se
  utiliza mucho en aplicaciones para dispositivos móviles)
</p>
<p><strong>mat-divider: </strong> Es un componente elemental que permite implementar una línea separadora con el estilo
  visual de Angular
  Material</p>
<p><strong>mat-grid-list: </strong>
  Es una componente contenedora que permite organiza las celdas en un diseño basado en cuadrícula.
</p>
<p><strong>mat-list: </strong> Es una componente contenedora que envuelve otras componentes.</p>
<p><strong>mat-vertical-stepper: </strong> Es una componente que divide una serie de actividades agrupándolas en
  distintos paneles y en un
  orden definido.</p>
<p><strong>mat-tree: </strong> Es una componente que permite mostrar datos dando a las misma una jerarquía y organizadas
  como un árbol.
</p>
<p><strong>mat-button-toggle: </strong> Es una componente de botón de dos estados.</p>
<p><strong>matBadgePosition: </strong> Es una insignia que consiste en un pequeño círculo, que normalmente contiene un
  número u otro
  conjunto corto de caracteres, que aparece cerca de otras componentes visuales.</p>
<p><strong>mat-chip-list: </strong> Es una componente que muestra una lista de rectángulos en forma de pastillas,
  accesibles por teclado.
</p>
<p><strong>mat-icon: </strong> Es una componente que facilita el uso de iconos basados en vectores.Permite fuentes de
  iconos en formato
  SVG, pero no formatos basados en mapas de bits (png y jpg).</p>
<p><strong>mat-progress-spinner: </strong> Es una componente que muestra indicadores circulares de progreso.</p>
<p><strong>mat-progress-bar: </strong> Es una componente que muestra una barra de progreso horizontal.</p>
<p><strong>matRipple: </strong> Permite mostrar con un efecto visual de onda cuando se presiona una componente (sea con
  el mouse o dedos
  en un dispositivo móvil)</p>
<p><strong>MatBottomSheet: </strong> Servicio que permite abrir un panel en la parte inferior de la pantalla (muy útil
  en dispositivos
  móviles)</p>
<p><strong>MatSnackBar: </strong> Servicio que permite mostrar notificaciones flotantes en pantalla.</p>
<p><strong>matTooltip: </strong> Permite disponer un mensaje informativo cuando el usuario pasa el cursor por encima o
  presiona un
  elemento.</p>


<p>
  Si uno se decide a utilizar en el proyecto Angular Material será obligatorio consultar constantemente la
  documentación que suministra el sitio oficial.
</p>
