<div class="container">
  <app-pieza46-a mensaje="Recuerde que las facturas vencen el 10 de cada mes" color="alert-warning"></app-pieza46-a>
</div>
<p>Concepto: 67
  - Angular y Bootstrap - creación de una componente: alerta
  pieza: (46) works!</p>

<p>La tercer forma de instalar la última version de Bootstrap (actualmente la 5) es empleando el gestor de paquetes de
  Node.Js</p>


<!-- 

              "styles": [{
              "input": "src/styles.css"
              },
              {
              "input": "./node_modules/bootstrap/dist/css/mg/bootstrap.min.css"
              }
              ],
              "scripts": [{
              "input": "./node_modules/jquery/dist/mg/jquery-3.4.1.slim.min.js"
              },
              {
              "input": "./node_modules/bootstrap/dist/js/mg/bootstrap.min.js"
              },
              {
              "input": "./node_modules/popper.js/dist/umd/mg/popper.min.js"
              }
              ]


   -->
