<p> Actividad:
  <input type="text" [formControl]="actividad">
</p>
<p><button (click)="agregar()">Agregar</button></p>
<ol>
  <li *ngFor="let acti of lista;let i=index">
    {{acti}} <a (click)="borrar(i)" href="app-pieza57">Borra?</a>
    <!-- <a (click)="borrar(i)" href="#">Borra?</a> -->
  </li>
</ol>
<p><button (click)="borrarTodas()">Borrar todas las actividades</button></p>




<p>Concepto: 87
  + Formularios reactivos - ReactiveFormsModule, FormControl
  pieza: (57)
  Funcional: (Ok()/Error(0)) works!</p>
